@import url(./default.css);
.footer-section {
  background-color: var(--brown);
  text-align: center;
  padding: 2rem;
  color: var(--light-blue);
}

.footer__social-media,
.footer__external-links {
  justify-content: center !important;
}

.footer__social-media img {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  background-color: var(--light-yellow);
  padding: 0.2rem;
  border-radius: 0.5rem;
  /* border: var(--bor2); */
}

.footer__external-links a {
  border: var(--bor-1);
  display: inline-block;
  margin: 1rem 1rem;
  color: var(--light-yellow);
}

.footer__copyrights {
  text-align: center;
  color: var(--light-yellow);
  /* margin: 0 auto; */
}
