@import url(./default.css);

/********** Gallery section **********/

.gallery {
  overflow-x: scroll;
  padding: 2rem;
}

.gallery img {
  height: 400px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.gallery__top,
.gallery__bottom {
  justify-content: flex-start !important;
  margin-top: 2rem;
}
